#bac{
  background-image: url("IMG_20161211_125945.jpg");
  background-size: 100%auto;
  size: 30%auto;
}
#info{
  text-align: center;
  size : 30%;
  color: blue;
}
#heading{
  text-align: center;
  size : 100px;
  color: black;
}
#headp2{
  text-align: center;
  color: blue;
}
